<ion-header>

  <header-component></header-component>

</ion-header>

<ion-content padding>

  <h2>메인 화면을 수정 하였습니다. (3) at 9:59</h2>
    
  <section *ngIf=" page ">
    <ion-card *ngFor=" let post of page.posts ">
        <img src="{{post.photos[0][0].url}}"/>
        <ion-card-content>
          <ion-card-title>
            {{ post.title }}
            </ion-card-title>
          <p [innerHTML]="post.content"></p>

        <ion-grid class="mt-3" *ngIf=" post.photos.length > 1 " no-padding>
            <ion-row *ngFor=" let chunks of post.photos ">
                <ion-col *ngFor=" let photo of chunks ">
                    <img src="{{ photo.url_thumbnail }}">
                </ion-col>
            </ion-row>
        </ion-grid>

        </ion-card-content>
      </ion-card>
    </section>
  

</ion-content>
